@import '~materialize-css';

.button-login {
  margin-right: 10px;
}

.yellow-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;

  &:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
  }
}

.label-auth {
  color: #fff !important;
}

.yellow-input:focus+.label-auth {
  color: #ffeb3b !important;
}